body {
    display: flex;
    flex-direction: column;
}

.wrapper {
  background-color: #1f2937;
  padding-bottom: 100px;
}

.header {
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    padding-bottom: 100px;
    

}

h1 {
    border: 1px solid blue;
    display: flex;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    gap: 10px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    gap: 10px;
}

#hero-header {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

#hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

#hero-button {
    width: 120px;
    height: 30px;
    background-color: blue;
    color: white;
    font-weight: 600;
}

#hero-image {
    border: 2px solid yellow;
    width: 400px;
    height: 200px;
}

h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.two {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
}

.info {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
}

#info-img {
    border: 1px solid blue;
    border-radius: 24px;
    width: 150px;
    height: 150px;
}

.three {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;
}


#three-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-style: italic;


}

.three-quote {
    border: 1px solid black;
    width: 60%;
}

#quote-man {
    text-align: right;
}

.four {
    display: flex;
    padding-bottom: 80px;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
}

.blue {
  width: 50%;
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  align-items: center;

  
}

#blue-text {
    font-size: 20px;
    color: white;
    font-weight: 700;
}

#blue-texts {
    color: white;
    font-weight: 700;
}

#blue-button {
    width: 120px;
    height: 40px;
    background-color: inherit;
    border: 1px solid white;
    color: white;
}

.footer {
    background-color: #1f2937;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    color: white;
}